<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="tarsys.checkout.sdk"
      android:versionCode="11"
      android:versionName="1.1">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:label="GoogleCheckOutSdk4Android" android:icon="@drawable/icon">
        <activity android:name="activPrincipal"
                  android:label="GoogleCheckOutSdk4Android">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
